
.myProfile-container .profile-bg > img {
    width: 44vw;
    height: 200px;
    

}
.profile-bg .img-person {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid rgb(143, 143, 250);
    position: relative;
    top: -100px;
    left: 100px;
}
.name-bio {
 position: relative;
 top: -100px;
 left: 140px;



}